/* Add mobile styles for the component here.  */

.action-bar {
  background-color: silver;
  .action-bar-inner {
    padding-right: 15px;
    .btn-nav {
      color: #474747;
      font-size: 30px;
      padding: 0;
    }
    .logo {
      background-image: url('~/assets/img/png/logo.png');
      background-repeat: no-repeat;
      width: 96px;
      height: 32px;
    }
  }
}

.news-list{

}