/* Add mobile styles for the component here.  */

.action-bar {
  background-color: silver;
  .action-bar-inner {
    padding-right: 15px;
    .btn-nav {
      color: #474747;
      font-size: 30px;
      padding: 0;
    }
    .logo {
      background-image: url('~/assets/img/png/logo.png');
      background-repeat: no-repeat;
      width: 96px;
      height: 32px;
    }
  }
}

.news-list {
  padding: 10px;
  &-wrap {
    border-bottom-width: 1px;
    border-bottom-color: #b2a6a7;
    padding-bottom: 10px;
  }
  &-item {
    font-size: 16px;
    color: #212121;
    width: 100%;
  }
  .data-time {

  }
  .ic {
    margin-left: 15px;
    &.camera {
      width: 24px;
      height: 24px;

    }
  }

}
