<ActionBar class="action-bar">
    <GridLayout columns="*,*" width="100%" class="action-bar-inner">

        <!--
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
        <!--<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" class="page-icon fa"></NavigationButton>-->
        <!--
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
        <!--<ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"-->
        <!--ios.position="left">-->
        <!--</ActionItem>-->
        <Label
                col="0"
                textAlignment="center"
                horizontalAlignment="left"
                class="logo">
        </Label>

        <Label text="&#xf0c9;"
               col="1"
               (tap)="onDrawerButtonTap()"
               textAlignment="center"
               horizontalAlignment="right"
               class="btn-nav fa fa-bars">
        </Label>

    </GridLayout>
</ActionBar>


<TabView id="tabViewContainer">
    <StackLayout *tabItem="{title: 'новости'}">
        <GridLayout rows="*">
            <ScrollView row="0">
                <FlexboxLayout
                        flexDirection="column"
                        alignItems="flex-start"
                        class="news-list">
                    <DockLayout *ngFor="let list of  newsListMain">
                        <Label   text="{{list.title}}" class="news-list-item"></Label>
                    </DockLayout>


                </FlexboxLayout>
            </ScrollView>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'топ-новости'}">
        <GridLayout rows="*">
            <ScrollView row="0">
                <FlexboxLayout
                        flexDirection="column"
                        alignItems="flex-start"
                        class="news-list">
                    <DockLayout *ngFor="let list of  newsListMain">
                        <Label   text="{{list.title}}" class="news-list-item"></Label>
                    </DockLayout>

                </FlexboxLayout>
            </ScrollView>
        </GridLayout>

    </StackLayout>
</TabView>


































