<ActionBar class="action-bar-detail">
    <GridLayout columns="*,*" width="100%" class="action-bar-inner">
        <Label
                col="0"
                textAlignment="center"
                horizontalAlignment="left"
                class="logo">
        </Label>
        <Label text="&#xf0c9;"
               col="1"

               textAlignment="center"
               horizontalAlignment="right"
               class="btn-nav fa fa-bars">
        </Label>
    </GridLayout>
</ActionBar>
<GridLayout>
    <ScrollView>
        <StackLayout class="news-det-cont">
            <Image src="~/assets/img/jpg/1.png"></Image>
            <Label text="22:21 12.03.19"  textWrap="true" class="date"></Label>
            <Label text="{{test}}"  textWrap="true" class="detail-text"></Label>
        </StackLayout>
    </ScrollView>
</GridLayout>