<ActionBar title="новости" class="action-bar-detail">
    <NavigationButton
            android.systemIcon="ic_menu_back"
            text="Back to ActionBar"
            [nsRouterLink]="['/main']"></NavigationButton>
    <Label text="новости" class="title-detail"></Label>
</ActionBar>
<!--<GridLayout>-->
    <!--<ScrollView>-->
        <!--<StackLayout class="news-det-cont">-->
            <!--<Image src="~/assets/img/jpg/1.png"></Image>-->
            <!--<Label text="22:21 12.03.19"  textWrap="true" class="date"></Label>-->
            <!--<Label text="{{test}}"  textWrap="true" class="detail-text"></Label>-->
        <!--</StackLayout>-->
    <!--</ScrollView>-->

<!--</GridLayout>-->

<!--<YoutubePlayer id="player" apiKey="AIzaSyCDH3BGQZT2ebUfSE8D3I8NLqaCPu4FRh0" src="https://www.youtube.com/watch?v=Z0LWuKQcrUA" height="250" width="100%" backgroundColor="gray"></YoutubePlayer>  -->




<!--<YoutubePlayer id="player" apiKey="AIzaSyCDH3BGQZT2ebUfSE8D3I8NLqaCPu4FRh0" src="https://www.youtube.com/embed/5QdxwdEx0KA" height="250" width="100%" backgroundColor="gray"></YoutubePlayer>-->

<VideoPlayer
        src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"
        autoplay="true"
        height="300"></VideoPlayer>




